<!DOCTYPE html>
<html lang="en">
<head>
    <title>详情页面</title>
    <%- include head %>
</head>
<body>
    <%- include('bar',{username:username}) %><br>
    <div>
        <div class="title">标题：<%=item.title%></div>
        <div>
            <span>作者：<%=item.username%></span>
            <span>发布时间:<%=item.time%></span>
        </div>
        <div class="content">内容：<%-item.content%></div>
    </div>
</body>
</html>